<p id="notice"><%= notice %></p>

<p>
  <strong>Building:</strong>
  <%= @much_withdraw.building_id %>
</p>

<p>
  <strong>Such date:</strong>
  <%= @much_withdraw.such_date %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @much_withdraw.amount %>
</p>

<%= link_to 'Edit', edit_much_withdraw_path(@much_withdraw) %> |
<%= link_to 'Back', much_withdraws_path %>
