<%= form_for(@very_loot) do |f| %>
  <% if @very_loot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@very_loot.errors.count, "error") %> prohibited this very_loot from being saved:</h2>

      <ul>
      <% @very_loot.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br>
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :amount %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label :such_date %><br>
    <%= f.datetime_select :such_date %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
